html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

#u-dot{
    position: absolute;
    width: 20px;
    height: 20px;
}

#u-dot img #u-dot-img{
    position: relative;
    width: 100%;
    height: 100%;
}
